.vitrine{
  border-style: solid;
  position: relative;
  max-width: 1250px;
  box-shadow: 2px 2px rgba(213,204,220, 0.6);
  border-width:1px;
  border-color: rgb(213,204,220);
  border-radius:10px;
  overflow:hidden;
  font-family: "Calibri";
}

.header{
  height:20px;
  background: linear-gradient(180deg, rgb(239,247,254) 50%, rgb(229,241,251) 50%);
  color:rgb(0,102,153);
  font-size:140%;
  padding: 10px 0px 15px 0px;
}

.headText{
  margin:10px 50px 10px 10px;
}

#content{
  display: inline-block;
  background-image: linear-gradient(90deg, rgba(0,0,0,0) 90%, rgba(255,255,255,1) 100%);
  overflow:hidden;
  position: relative;
  white-space:nowrap;
  max-width: inherit;
}
#recom{
  display: inline-block;
  white-space:nowrap;
  max-width:1000px;
  overflow:hidden;
  white-space: nowrap;
}
#ref{
  float: left;
  display: inline-block;
  border-right-style:solid;
  border-right-width: 1px;
  border-right-color: rgb(213,204,220);
  padding-right: 20px;
}

.item{
  display:inline-block;
  vertical-align:top;
  margin-top: 10px;
  max-height: 280px;
  font-size:80%;
  padding: 10px 10px 10px 10px;
}
.item:hover{
  background-image: linear-gradient(rgb(215,234,249), rgb(215,234,249), white);
  cursor: pointer;
}
.item img:hover{
  border-style: solid;
  border-color: rgb(213,204,220);
  border-width:1px;
}
.item p{
  position: relative;
  margin-bottom:0;
  margin-top:0;
  max-width: 10em;
  max-height: 3.6em;
  overflow:hidden;
  white-space: normal;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
/* adiciona retiscencias ao paragrafo de descrição */
.name::before{
  content: "...";
  position: absolute;
  right:2px;
  bottom:0;
}
/*
.item a {
  position:absolute;
  display: inline-block;
  width:inherit;
  height: 100%;
  background-color: red;
}
*/

.price{
  color: rgb(204,0,0);
  font-size:150%
}
.paymentConditions{
  display: block;
  font-size:120%;
  color: rgb(204,0,0);
  word-spacing: 1px;
  font-family: "Trebuchet MS";
  letter-spacing: -2px;
}

#goLeft{
  position: relative;
  bottom:100px;
}

#overlay{
  position: absolute;
  right:0px;
  top: 50px;
  height: 280px;
  width: 100px;
  z-index:10;
  background-image:linear-gradient(90deg, rgba(255,255,255,0),rgba(255,255,255,1)75%);
}
#goRight{
  position:absolute;
  top: 120px;
  right:0;
  z-index:11;
}

#footer{
  background-image:linear-gradient(white,rgb(215,234,249));
  margin-top:20px;
   height:10px;
}
